#root {
  margin: 0 auto;
  min-width: 100vw;
  min-height: 100vh;

  text-align: center;
  font-size: 16px;
  line-height: 1.4;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  color: rgb(146, 171, 207);

  background-color: black;
}
